.successful-notification {
  color: forestgreen;
  background-color: lightgrey;
  padding: 12px;
  border-radius: 5px;
  border: 3px solid forestgreen;
}

.unsuccessful-notification {
  color: red;
  background-color: lightgrey;
  padding: 12px;
  border-radius: 5px;
  border: 3px solid red;
}